
:root {
  --purple: #b385e7;
  --green: #62d861;
  --blue: #3098d4;
  --navy-blue: #2f78bc;
  --dark-blue: #132347;
  --grey: #848991;
  --light-grey: #f1f5fe;
  --white: #fff;
  --skyblue: #d7e9fc;
  --blue-font: #2196f3;
  --grey-font: #5e6061;
}

label {
  margin-bottom: 0 !important;
}

/* When setting CSS, remember that priority increases with specificity, so don't forget to select the exisiting classes as well */

.Vue-Toastification__toast--default.toast-background {
  background-color: var(--light-grey);
  padding: 0 !important;
  max-width: fit-content !important;
  min-width: 100px !important;
}

